In [1]:
from Scrapper import YFinanceScrapper
import pandas as pd

In [11]:
import seaborn as sns

In [6]:
cpo=['AALI.JK','ANDI.JK','ANJT.JK','BWPT.JK','CBUT.JK','DSNG.JK','FAPA.JK','GZCO.JK','JAWA.JK','LSIP.JK','MGRO.JK','MKTR.JK','PSGO.JK','SGRO.JK','SIMP.JK','SMAR.JK','SSMS.JK','STAA.JK','TAPG.JK','TBLA.JK','TLDN.JK','UNSP.JK']

### Liquidity Ratio
#### current_ratio= current_assets / current_liabilities <br>
#### acidtest_ratio = current_assets – inventories / current_liabilities <br>
#### cash_ratio = cash_Cash_equivalents / current_liabilities <br>
operating_cash_flow ratio = operating_cash_flow / current_liabilities <br>
<br>
liquidity_ratio=[current_ratio, acid-test_ratio, cash_ratio, operating_cash_flow_ratio]

current_asset= cash, cash equivalents, accounts receivable, stock inventory, marketable securities, pre-paid liabilities, and other liquid assets.

### Leverage Financial Ratios
#### Debt ratio = Total liabilities / Total assets <br>
#### Debt to equity ratio = Total liabilities / Shareholder’s equity <br>
#### Interest coverage ratio = Operating income / Interest expenses <br>
Debt service coverage ratio = Operating income / Total debt service

### Efficiency Ratios

#### Asset turnover ratio = Total Revenue / Average total assets <br>
#### Inventory turnover ratio = Cost of goods sold / Average inventory <br>
Receivables turnover ratio = Net credit sales / Average accounts receivable <br>
Days sales in inventory ratio = 365 days / Inventory turnover ratio <br>

### Profitabilities Ratios

#### Gross margin ratio = Gross profit / Total Revenue <br>
#### Operating margin ratio = Operating income / Net sales <br>
#### Return on assets ratio = Net income / Total assets <br>
#### Return on equity ratio = Net income / Shareholder’s equity

### Market Value Ratios

Book value per share ratio = (Shareholder’s equity – Preferred equity) / Total common shares outstanding <br>
Dividend yield ratio = Dividend per share / Share price <br>
Earnings per share ratio = Net earnings / Total shares outstanding <br>
Price-earnings ratio = Share price / Earnings per share

In [8]:
collect={}
for comp in cpo:
    collect[comp]=YFinanceScrapper(comp)
    collect[comp].get_alldata()
    collect[comp].important_dataframe()
    collect[comp].metric_dataframe()
frames=[]
for comp in cpo:
    frames.append(collect[comp].metric)
df=pd.concat(frames)

In [28]:
collect['AALI.JK'].balance_sheet['Current Assets'].dtype

dtype('int64')

In [34]:
for comp in cpo:
    if collect[comp].balance_sheet['Current Assets'].dtype == 'float64':
        print(comp)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       76 non-null     datetime64[ns]
 1   company                    76 non-null     object
 2   current_ratio              76 non-null     float64
 3   acidtest_ratio             76 non-null     float64
 4   cash_ratio                 76 non-null     float64
 5   operating_cash_flow_ratio  76 non-null     float64
 6   debt_ratio                 76 non-null     float64
 7   return_on_asset_ratio      76 non-null     float64
 8   debt_to_equity_ratio       76 non-null     float64
 9   interest_coverage_ratio    76 non-null     float64
 10  return_on_equity_ratio     76 non-null     float64
 11  gross_margin_ratio         76 non-null     float64
 12  operating_margin_ratio     76 non-null     float64
dtypes: datetime64[ns](1), float64(11), object(1)
memory usage: 8.3+ KB

In [23]:
df=df.reset_index()

In [41]:
df.sort_values(by='current_ratio',ascending=False).head(10)

,index,time,company,current_ratio,acidtest_ratio,cash_ratio,operating_cash_flow_ratio,debt_ratio,return_on_asset_ratio,debt_to_equity_ratio,interest_coverage_ratio,return_on_equity_ratio,gross_margin_ratio,operating_margin_ratio
36,3,2021-12-30,PALM.JK,11.830275,11.830275,11.607854,1.012769,0.006817,0.307678,0.006864,-inf,0.309789,0.440470,-0.057993
30,2,2022-03-30,LSIP.JK,6.654534,5.298078,4.820978,0.196366,0.141718,0.024955,0.165135,1939.338384,0.029078,0.575055,0.501991
29,1,2022-06-29,LSIP.JK,6.310361,5.228273,4.620015,0.433805,0.142766,0.019520,0.166553,1485.647727,0.022772,0.311857,0.203895
31,3,2021-12-30,LSIP.JK,6.184387,5.351719,4.835027,0.909742,0.141646,0.020162,0.165042,2820.680180,0.023492,0.545137,0.527830
28,0,2022-09-29,LSIP.JK,6.167723,4.871862,4.443285,0.329918,0.146284,0.017373,0.171357,1463.538462,0.020351,0.257218,0.228933
59,1,2022-06-29,STAA.JK,2.781179,1.948656,1.690196,0.002230,0.390632,0.028871,0.690393,9.168888,0.051026,0.334516,0.264692
60,2,2022-03-30,STAA.JK,2.724608,2.108274,1.882043,0.604048,0.404412,0.061762,0.755476,13.832143,0.115377,0.396263,0.352232
38,1,2022-06-29,PSGO.JK,2.600538,1.870001,1.061187,0.081600,0.587254,0.018808,1.423042,3.709145,0.045575,0.311610,0.247727
39,2,2022-03-30,PSGO.JK,2.433639,1.861496,1.020753,0.149702,0.598048,0.025287,1.488124,3.916128,0.062921,0.287936,0.264381
57,3,2021-12-30,SSMS.JK,2.391187,1.903552,1.252314,0.261049,0.559044,0.035203,1.274587,4.000044,0.080261,0.429917,0.334529

In [36]:
collect['PALM.JK'].dataframe

,time,company,current_assets,current_liabilities,inventories,cash&cashequiv,total_assets,total_liabilities,shareholder_equity,operating_cashflow,gross_profit,operating_income,total_revenue,net_income,interest_expense,cost_of_good_sold
3,2021-12-30,PALM.JK,470208894,39746234,0,461368476,5867669837,39999352,5827680378,40253751,24555445,-3232989,55748340,1805351032,0,31192895